body {
    margin: 20px;
    font-family: Arial, sans-serif;
  }

 ul {
      list-style: none;
      padding: 0;
      width: 150px;
      margin: 50px auto;
    }

    li {
      background-color: #6699a1;
      color: white;
      padding: 15px;
      border: 1px solid #000;
      text-align: center;
      font-size: 18px;
      transition: background-color 0.3s, color 0.3s;
    }

    li:hover {
      background-color: #447980;
      cursor: pointer;
    }