:root {
    --altura: 100px; 
}

.rectangulo {
    height: var(--altura);
    width: calc(var(--altura) * 2);
    background-color: #3498db;
}
.rectangulo2 {
    height: var(--altura);
    width: calc(var(--altura) * 2);
    background-color: #45f86c;
}