body { font-family: Arial, sans-serif; line-height: 1.6; padding: 20px; }
.amarillo { color: #f4c542; }
.azuloscuro{ background: #1e3a8a; }
.azul { color: #60a5fa; }
.lila { color: #9d4edd; }
.verde { background: #10b981; }