.elemento {
    border-color: orange;
    border-radius: 4rem;
}
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
  }
  img {
    width: 300px;
    transition: filter 0.5s ease;
    border: 1rem solid;
    border-style: dashed;
    border-color: ORANGE;
  }